

.services-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 20px 50px; 
    background-color: #ffffff;
  }
  
  .services-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
  }
  
  h1 {
    font-size: 36px;
    color: black;
    margin-bottom: 50px; 
    position: absolute;
    top: 20px;
    left: 50px;
  }
  
  .ride-button {
    background-color: #00aaff;
    color: white;
    font-size: 18px;
    padding: 15px 40px;
    border: none;
    border-radius: 25px; 
    margin-bottom: 20px; 
    cursor: pointer;
    width: 200px; 
    height: 60px;
    text-align: center;
  }
  
  .ride-button:hover {
    background-color: #0088cc;
  }
  
  .services-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .services-right img {
    max-width: 1000px;
    height: auto;
  }
  